# Minimal bootloader configuration
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../../../../boards/kite/f427/nuttx-config"
CONFIG_ARCH_CHIP="stm32"
CONFIG_ARCH_CHIP_STM32=y
CONFIG_ARCH_CHIP_STM32F427V=y
CONFIG_ARMV7M_MEMCPY=y
CONFIG_ARMV7M_USEBASEPRI=y
CONFIG_DEFAULT_SMALL=y
CONFIG_RAW_BINARY=y

# Disable features not needed in bootloader
# CONFIG_BUILTIN is not set
# CONFIG_APPS_DIR is not set
# CONFIG_DISABLE_OS_API is not set
CONFIG_DISABLE_ENVIRON=y
CONFIG_DISABLE_PSEUDOFS_OPERATIONS=y
CONFIG_DISABLE_PTHREAD=y

CONFIG_BOARD_LOOPSPERMSEC=16717
CONFIG_STM32_PWR=y
CONFIG_STM32_USART2=y
CONFIG_USART2_BAUD=115200
CONFIG_USART2_RXBUFSIZE=64
CONFIG_USART2_TXBUFSIZE=64
CONFIG_STM32_OTGFS=y
CONFIG_USBDEV=y
CONFIG_USBDEV_BUSPOWERED=y
CONFIG_STM32_RTC=y
CONFIG_STM32_RTC_HSECLOCK=y
CONFIG_STM32_RTC_MAGIC=0xfacefeee
CONFIG_STM32_RTC_MAGIC_REG=1
CONFIG_LIBC_STRERROR=y
CONFIG_SERIAL_TERMIOS=y
CONFIG_RAM_SIZE=262144
CONFIG_RAM_START=0x20000000
CONFIG_ARCH_INTERRUPTSTACK=768
CONFIG_DEBUG_SYMBOLS=y
CONFIG_ARMV7M=y
CONFIG_ARCH_CORTEXM4=y
CONFIG_ARCH_FPU=y
